@import url("00-vars.css");

/* General Box-Styles */
.article-container {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    background-color: color-mix(in srgb, var(--background-color), black 10%);
    min-height: 100vh;
    z-index: 1;
}

.dark-mode .article-container {
    background-color: var(--background-color-dark-mode);
}

.article-box {
    width: 90%;
    max-width: 800px;
    background: color-mix(in srgb, var(--background-color), black 10%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem;
    border: 1px solid color-mix(in srgb, var(--background-color), black 10%);
}

.dark-mode .article-box {
    background: var(--background-color-dark-mode);
    color: var(--text-color-dark-mode);
    border-color: color-mix(in srgb, var(--background-color-dark-mode), black 10%);
}

/* Article-Styles */
.article-title,
.post-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
}

.dark-mode .article-title,
.dark-mode .post-title {
    color: var(--primary-color);
}

.post-title:hover {
    text-decoration: underline;
    color: color-mix(in srgb, var(--primary-color), black 20%);
}

.dark-mode .post-title:hover {
    text-decoration: underline;
    color: color-mix(in srgb, var(--primary-color), white 20%);
}

.article-date,
.post-date {
    text-align: center;
    color: var(--text-color);
    font-size: 0.875rem;
}

.dark-mode .article-date,
.dark-mode .post-date {
    color: var(--text-color-dark-mode);
}

.article-content,
.post-summary {
    color: var(--text-color);
    line-height: 1.6;
}

.dark-mode .article-content,
.dark-mode .post-summary {
    color: var(--text-color-dark-mode);
}

.content-box {
    padding: 1.5rem;
    border-radius: 8px;
    background: var(--background-color);
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dark-mode .content-box {
    background: var(--background-color-dark-mode);
    color: var(--text-color-dark-mode);
}

/*Layouts */
.grid-layout {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 1rem;
}

.grid-layout> :nth-last-child(1):nth-child(odd) {
    grid-column: span 2;
}

.list-layout {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Responsive Changes */


/* Prevent multiple (too much) menu items from layout issues */

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.nav-menu {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.nav-container.mobile-mode .nav-menu {
    display: none;
}

.nav-container.mobile-mode .burger-menu {
    display: flex;
}

img {
    max-width: 100%;
    height: auto;
}