/* Article Container */
.article-container {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    background-color: var(--background-color);
    min-height: 100vh;
    z-index: 1;
}

.dark-mode .article-container {
    background-color: var(--background-color-dark-mode);
}

/* Article Box */
.article-box {
    width: 90%;
    max-width: 800px;
    background: color-mix(in srgb, var(--background-color), black 10%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem;
    border: 1px solid color-mix(in srgb, var(--background-color), black 10%);
}

.dark-mode .article-box {
    background: color-mix(in srgb, var(--background-color-dark-mode), white 20%);
    color: var(--dark-text-color);
    border-color: color-mix(in srgb, var(--background-color-dark-mode), white 20%);
}